#contact {
    max-width: 80%;
    margin: 2% auto;
    background: lighten($gray-color, 40%);
    text-align: center;
    padding: 2% 10%;
    h3 {
        @include header;
    }
    .contact-icons {
        @include flex;
        padding: 6% 3%;
        i {
            background: $accent-color;
            padding-top: 13px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: $white-color;
            font-size: 1.5rem;
            cursor: pointer;
            opacity: .8;
            transition: background,opacity ease 400ms;
            
            &:hover{
                background: darken($accent-color, 4%);
                opacity: 1;
                @include scale;
            }
        }
    }
    .contact-separator {
        span {
            height: 3px;
            max-width: 200px;
            background: $accent-color;
            display: block;
            margin: 4% auto;
        }
    }

    .contact-email{
        font-family: 'Great Vibes', cursive;
        span{
            font-size: 2.5rem;
            color: $accent-color;
            line-height: 2;
        }
    }
    @media screen and (max-width:760px) {
        padding: 2%;
        .contact-icons {
            padding: 2% 0;
            i{
                width: 40px;
                height: 40px;
                font-size: 1.2rem;
                padding-top: 10px;
            }
        }

        .contact-email{
            span{
                font-size: 1.7rem;
            }
        }
        
    }
}